body {
    background-color: black;
}
#title-text {
    text-align: center;
    color: darkgoldenrod;
    font-family: sans-serif;
    font-family: Avenir Next;
    font-size: 24px;
    margin-top: 10px;
    text-decoration: none;
}
.menu-bar {
    color: white;
    font-family: sans-serif;
    font-family: Avenir Next;
    
}
#mem-page {
    color: white;
    float: left;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: underline;
    margin-top: 5px;
}
#cal-page {
    color: white;
    float: left;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: underline;
    margin-top: 5px;
}
#contact-page {
    color: white;
    float: right;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: underline;
    margin-top: 5px;
}
#about-page {
    color: white;
    float: right;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: underline;
    margin-top: 5px;
}
.calendar {
    text-align: center;
}